<!-- 
 https://codepen.io/ZonFire99/pen/EaYmGV
 https://codepen.io/jh3y/pen/JjBPNMe <---matrix

-->

<!DOCTYPE html>
<html lang="es">
  <head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_error.css') }}">
  </head>
  <body>

<div class="error">

<div class="wrap">
  <div class="404">
    <pre><code>
	 <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
<span class="orange">&lt;html&gt;</span>
    <span class="orange">&lt;style&gt;</span>
   * {
		        <span class="green">everything</span>:<span class="blue">DIJUR</span>;
}
     <span class="orange">&lt;/style&gt;</span>
 <span class="orange">&lt;body&gt;</span> 
              ERROR 
				Archivo con error!
				<span class="comment">&lt;!--Seguramente es un boomer que no cachó, Xd 
					o el desarrador es merme!, o puede que el usuario 
                    no sea alguien de la DIJUR ¯\_(ツ)_/¯.&gt;
		</span>
 <span class="orange"></span> 
			  


</div>
<br />
<span class="info">
<br />

<span class="orange">&nbsp;&lt;/body&gt;</span>

<br/>
      <span class="orange">&lt;/html&gt;</span>
    </code></pre>
  </div>
</div>


</span>
